html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.main-icon {
    padding: 20px 15px;
    margin-left: 873px;
}

.menu {
    margin-left: 473px;
}
#menu-item {
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #dd3333;
    padding: 40px 15px 40px 15px;
    display: table-cell;
}

.info {
    background: #ffff;
    height: 631px;
    font-size: 20px;
    line-height: 54px;
}