{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'kfc/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kfc/css/styles.css' %}"/>
    <title>KFC Tashkent – Доставка КФС в Ташкенте</title>
</head>
<body>
<header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <img src="{% static 'kfc/images/kfc-logo.jpg' %}" class="img-fluid logo" style="max-width: 100px">
            </div>
            <div class="cats mt-5" style="display: flex; justify-content: center;">
                {% for c in cats %}
                    <div class="cat d-none d-lg-block">
                        <a href="#" class="cat text-uppercase text-decoration-none"
                           style="color: #dd3333">{{ c.name }}</a>
                    </div>

                {% endfor %}
            </div>
            <div class="col-12 text-center">
                <h2 class="text-uppercase mt-4">KFC / КФС</h2>
            </div>
            <div class="col-12 text-center">
                <h2 class="text-uppercase mt-4" style="color: red">БЕСПЛАТНАЯ ДОСТАВКА</h2>
            </div>
            <div class="col-12 text-center">
                <h2 class="mt-4" style="color: red">в Ташкенте</h2>
            </div>
            <div class="col-12 text-center mt-4 mb-3">
                <b>Наша служба доставки работает для Вас ежедневно с 09:00 и до 03:00.</b>
            </div>
        </div>
    </div>
</header>

{#    <div class="container">#}
{#        <div class="row">#}
{#            {% for c in cats %}#}
{#                {% if c.products_set.exists %}#}
{#                    <div class="col-12">#}
{#                        <h2 class="text-center text-uppercase mt-3">{{ c.name }}</h2>#}
{#                    </div>#}
{#                    {% for p in pros %}#}
{#                        {% if p.cat_id == c.pk %}#}
{##}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        </div>#}

{% for c in cats %}
    {% if c.products_set.exists %}

        <section style="background-color: #ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mt-3 mb-4">
                            {{ c.name }}
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #f7f6f5">
            <div class="container">
                <div class="row">
                    {% for p in pros %}
                        {% if p.cat_id == c.pk %}
                            <div class="col-xl-3 col-sm-6 mt-5 text-center">
                                <img src="{{ p.photo.url }}"
                                     style="background-color: white; border-radius: 10px">
                                <div class="text-uppercase pt-3" style="font-size: x-small;">{{ p.cat }}</div>
                                <div style="font-size: medium;padding-bottom: 2px">{{ p.name }}</div>
                                <div class="pb-3">{{ p.price }} UZS</div>
                                <div class="btn btn-warning">В корзину</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </section>

    {% endif %}
{% endfor %}

<footer style="margin-bottom: 200px">

</footer>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>