{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'kfc/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'kfc/css/styles.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <title>KFC Tashkent – Доставка КФС в Ташкенте</title>
</head>
<body>
<header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <img src="{% static 'kfc/images/kfc-logo.jpg' %}" class="img-fluid logo" style="max-width: 100px">
            </div>
            <div class="cats mt-5" style="display: flex; justify-content: center;">
                {% for c in cats %}
                    <div class="cat d-none d-lg-block">
                        <a href="#" class="cat text-uppercase text-decoration-none"
                           style="color: #dd3333">{{ c.name }}</a>
                    </div>

                {% endfor %}
            </div>
            <div class="col-12 text-center">
                <h2 class="text-uppercase mt-4">KFC / КФС</h2>
            </div>
            <div class="col-12 text-center">
                <h2 class="text-uppercase mt-4" style="color: red">БЕСПЛАТНАЯ ДОСТАВКА</h2>
            </div>
            <div class="col-12 text-center">
                <h2 class="mt-4" style="color: red">в Ташкенте</h2>
            </div>
            <div class="col-12 text-center mt-4 mb-3">
                <b>Наша служба доставки работает для Вас ежедневно с 09:00 и до 03:00.</b>
            </div>
        </div>
    </div>
</header>


{% for c in cats %}
    {% if c.products_set.exists %}

        <section style="background-color: #ffffff">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center mt-3 mb-4" style="color: red">
                            {{ c.name }}
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <section style="background-color: #f7f6f5">
            <div class="container">
                <div class="row">
                    {% for p in pros %}
                        {% if p.cat_id == c.pk %}
                            <div class="col-xl-3 col-sm-6 mt-5 mb-5 text-center align-items-center pro-card">
                                <img src="{{ p.photo.url }}" class="pro-img">
                                <div class="text-uppercase pt-3 pro-cont" style="font-size: x-small; ">{{ p.cat }}</div>
                                <div style="font-size: medium" class="pro-cont">{{ p.name }}</div>
                                <div class="pb-3"> <b>{{ p.price }} UZS</b> </div>
                                <div class="btn-basket text-center text-uppercase">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                         class="bi bi-bag-check" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                                    </svg>

                                    В корзину

                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </section>

    {% endif %}
{% endfor %}

<footer style="margin-bottom: 200px">

</footer>
<script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>