html {
    font-family: Open Sans,sans-serif;
    font-size: 16px;
}

header {
    margin-top: 30px;
}

.cat {
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -.5px;
    color: #dd3333;
    padding: 40px 10px 40px 10px;
}